@import "./variables.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-main;
}

main {
  width: 38rem;
  margin: 0 auto;
  background-color: $main-bg-color;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;

  display: flex;
}
