$font-size-small: 1rem;
$font-size-medium: 1.2rem;
$font-size-big: 1.6rem;
$font-size-large: 2.4rem;

$line-height-small: 1.5;
$line-height-medium: 2;
$line-height-big: 3;

$margin-smallest: 0.4rem;
$margin-small: 0.8rem;
$margin-medium: 1.2rem;
$margin-big: 1.6rem;

$card-icon-size: 4rem;

$loader-color: #6c757d;
$main-bg-color: #f5f5f5;
$card-bg-color: #fff;
$text-color-increase: #21bf73;
$text-color-decrease: #d90429;
$text-color-subtitle: #6c757d;
$btn-color-bg-primary: #ecf4ff;
$btn-color-text-primary: #0063f5;
$btn-color-bg-secondary: #f8f9fa;
$btn-color-text-secondary: #6c757d;
$btn-color-bg-disabled: #d9d9d9;
$btn-color-text-disabled: #fff;

$font-main: "Circular Std";
